.doctor-card-container {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  display: inline-block;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.doctor-card-details-container {
  padding: 20px;
}

.doctor-card-profile-image-container {
  text-align: center;
  margin-bottom: 10px;
}

.doctor-card-profile-image-container img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.doctor-card-details {
  text-align: center;
}

.doctor-card-detail-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.doctor-card-detail-speciality {
  font-size: 16px;
  margin-bottom: 5px;
}

.doctor-card-detail-experience {
  font-size: 14px;
  color: #888;
  margin-bottom: 5px;
  font-weight: bold;
}

.doctor-card-detail-consultationfees {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
}

.book-appointment-btn {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Make button width 100% of the container */
  display: flex; /* Use flexbox for centering */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center horizontally */
}

.book-appointment-btn div:nth-child(2) {
  font-size: 12px;
  font-weight: bold;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}